Qual o ticket m√©dio pago (Fare) por classe?

In [4]:
import pandas as pd
df = pd.read_csv('../data/titanic_dataset.csv')
summary = df.groupby(by='Pclass', as_index=False).agg({
    'PassengerId': 'count',
    'Fare': 'sum'
}).rename(columns={
    'Pclass': 'classe',
    'PassengerId': 'qtd_passageiros',
    'Fare': 'total_pago'
})
summary['ticket_medio'] = (summary['total_pago'] / summary['qtd_passageiros']).round(2)
summary

   classe  qtd_passageiros  total_pago  ticket_medio
0       1              216  18177.4125         84.15
1       2              184   3801.8417         20.66
2       3              491   6714.6951         13.68