Qual a taxa de sobrevivência por gênero (Sex)?

In [19]:
import pandas as pd
df = pd.read_csv('../data/titanic_dataset.csv')
summary = df.groupby(by='Sex', as_index=False).agg({
    'Survived': 'sum',
    'PassengerId': 'count'
}).rename(columns={
    'Sex': 'sexo',
    'Survived': 'qtd_passageiros_sobreviventes',
    'PassengerId': 'qtd_total_passageiros' 
})
summary['taxa_sobrevivencia'] = summary['qtd_passageiros_sobreviventes'] / summary['qtd_total_passageiros'] * 100
summary

,sexo,qtd_passageiros_sobreviventes,qtd_total_passageiros,taxa_sobrevivencia
0,female,233,314,74.203822
1,male,109,577,18.890815