Qual a taxa de sobrevivÃªncia por classe (Pclass)?

In [7]:
import pandas as pd
df = pd.read_csv('../data/titanic_dataset.csv')
summary = df.groupby(by='Pclass', as_index=False).agg({
    'Survived': 'sum',
    'PassengerId': 'count'
}).rename(columns={
    'Survived': 'qtd_passageiros_sobreviventes',
    'PassengerId': 'qtd_passageiros_total',
    'Pclass': 'classe'
})
summary['taxa_sobrevivencia'] = (summary['qtd_passageiros_sobreviventes'] / summary['qtd_passageiros_total'] * 100).round(2)
summary

,classe,qtd_passageiros_sobreviventes,qtd_passageiros_total,taxa_sobrevivencia
0,1,136,216,62.96
1,2,87,184,47.28
2,3,119,491,24.24